.container{
    text-align:center;
    font-size:2rem;
    font-family:  roboto, san-serif;
  }
  
  #value{
    font-size: 5rem;
  }
  
  .btn{
    background:transparent;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
  }
  
  .btn:hover{
    background:rgb(0,0,0,0.3);
  }